{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .container {
            padding: 16px;
            width: 35%;
            border: 1px;
            margin: 24px 0 12px 50px;
        }
    </style>

    <div class="panel panel-primary">
<center>
        <div class="panel-body">
            <h2>Autorisation...</h2>
            <div class="container">
                <img src="{{ asset('img/accessdenied.jpg') }}" class="avatar"/>
            </div>
        </div>
</center>
    </div>


    </div>
{% endblock %}

